/* Collection css */
*
{
margin:0;
padding:0;
box-sizing: border-box;
}

/* navbar */
#header,
#content
{
  display:block;
  position:relative;
  clear:both;
}
#logobox
{
}

/* loop content */
#loopcontainer
{
  display: block;
  position: relative;
}

#loopcontainer-loader
{
  display:block;
  position:fixed;
  left:0px;
  bottom:2vh;
  width:100%;
  text-align:center;
}

/* typemenu */
#typemenu
{
}
#typemenu ul
{
  /* text-align: right;*/
  padding:0px 0px; /* innerpadding */
}
#typemenu ul li
{
  display:inline-block;
  padding:5px;
  list-style-type: none;
}
#typemenu ul li.notavailable
{
  opacity:0.2;
}
li#menubutton
{
  margin-right:3px;
}
.icon-button.selected span
{
  color:#00A3E8;
}
.icon-button.selected:hover span
{
  color:#ADB4BE;
}

/* ---- grid / list toggle ---- */

#display-toggle
{
  position:absolute;
  top:5px;
  right:5px;
  z-index:99;
}
#display-toggle a
{
}

.grid-view .grid
{
  display:none;
}
.list-view .list
{
  display:none;
}

/* ---- .grid-item ---- */

#loopcontainer.grid-view .post-artifact .innerpadding
{
  position:relative;
  padding:0;
}
#loopcontainer.grid-view .post-artifact img.wp-post-image
{
  width:100%;
  height:auto;
}

#loopcontainer.grid-view .post-artifact .overlay
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: rgba(0, 0, 0, .5);
  opacity: 0;
  text-align:center;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

#loopcontainer.grid-view .post-artifact:hover .overlay,
#loopcontainer.grid-view .post-artifact.hovered .overlay {
  opacity: 1;
}

#loopcontainer.grid-view .post-artifact .overlay,
#loopcontainer.grid-view .post-artifact .overlay a
{
  color:white;
}

#loopcontainer.grid-view .post-artifact .overlay .item-excerpt
{
  max-width:380px;
  margin:0px auto;
}

#loopcontainer.grid-view .post-artifact {

    /* max-width:403px; */

    width: calc(28.57% - 30px); /* col 5 3x : 60%; */
    margin:15px;
    /*
    -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
   */

}

/* overview page - TODO check width for small screens .. */
#loopcontainer.grid-view #logobox
{
  /* max-width:403px; */
  width: calc(42.85% - 30px); /* col 5 2.5x: 50%; */

}
#loopcontainer.grid-view .post-artifact.panorama
{
  /* max-width:1096px; */
  width: calc(71.42% - 30px);/* col 5 4x : 80%; */

}
#loopcontainer.grid-view .post-artifact.landscape
{
  /* max-width:403px; */
  width: calc(42.85% - 30px); /* col 5 3x : 60%; */

}
#loopcontainer.grid-view .post-artifact.portrait
{
  /* max-width:268px; */
  width: calc(28.57% - 30px); /* col 5 1x : 20%; */

}
#loopcontainer.grid-view .post-artifact.square
{
  /* max-width:268px; */
  width: calc(28.57% - 30px); /* col 5 2x : 40%; */

}


/* ---- .list-item ---- */
#loopcontainer.list-view .post-artifact
{
  position: relative;
  width:100%;
}
#loopcontainer.list-view .post-artifact .innerpadding
{
  position:relative;
  padding:0px;
}
#loopcontainer.list-view .post-artifact
{
  clear:both;
}
#loopcontainer.list-view .post-artifact img.wp-post-image
{
  width:auto;
  height:90px;
  float:left;
}
#loopcontainer.list-view .post-artifact .overlay
{
  position: relative;
}
#loopcontainer.list-view .post-artifact .overlay .item-icons
{
  float:right;
}

/* --- overlay --- */
#viewcontainer
{
  -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
}
#overlaycontainer,
#infoboxcontainer
{
  position:absolute;
  width:100%;
  top:0px;
  left:0px;
  background: rgba(255, 255, 255, 1);
  min-height:100vh;
  z-index:99;
}
#overlaycontainer .outermargin
{
  max-width:960px;
  height:100%;
}
#overlaycontainer.intro
{
  background: rgba(255, 255, 255, 0.70);
}

#overlaycontainer .popcontainer .mediabox
{
  text-align:center;
}
#overlaycontainer .popcontainer .mediabox img
{
  height:auto;
  max-height:80vh;
  width:auto;
  max-width:100%;
}
.closeoverlay,
.closeinfobox
{
  position:absolute;
  right:0px;
  top:0px;
  height:64px;
  width:64px;
  z-index:999;
  background-color:blue;
}
