/*
rood roze : #FF004D
grijs standaard : #ADB4BE
licht grijs   :#C8CCD2
Donker grijs   :#5E6877
blauw : #00A3E8;
*/

#typemenu ul li.notavailable
{
  opacity:0.2;
}

#typemenu ul li.available
{
  cursor:pointer;
}

.prevnextnav
{
  position:absolute;
  z-index:900;
  top:120px;
  left:20px;
  width:200px;
}
#prevmedia span,
#nextmedia span
{
}
#prevmedia
{
  left:-50px;
  background:url('../icons/arrow_icon_left_grey.png');
}
#nextmedia
{
  right:-50px;
  background:url('../icons/arrow_icon_right_grey.png');
}

.but-foto
{
  background-image:url('../icons/menu_icon_grey_foto.png');
}
.but-audio
{
  background-image:url('../icons/menu_icon_grey_audio.png');
}
.but-gedicht
{
  background-image:url('../icons/menu_icon_grey_gedicht.png');
}
.but-sculptuur
{
  background-image:url('../icons/menu_icon_grey_sculptuur.png');
}
.but-video
{
  background-image:url('../icons/menu_icon_grey_video.png');
}
.but-schilderij
{
  background-image:url('../icons/menu_icon_grey_schilderij.png');
}
.but-verhaal
{
  background-image:url('../icons/menu_icon_grey_geschrift.png');
}
.but-pers
{
  background-image:url('../icons/menu_icon_grey_newspaper.png');
}
.but-overige
{
  background-image:url('../icons/menu_icon_grey_overig.png');
}


#typemenu .icon-button.available:hover{
  background-color:#ADB4BE;
}

#typemenu .icon-button.available.selected,
#typemenu .icon-button.available.selected:hover,
.column .media-icon:hover,
.column .media-icon.selected {
  background-color:#FF004D;
}



#typemenu .but-foto.available:hover,
#typemenu .but-foto.available.selected,
#loopcontainer.grid-view .post-object .item-icons .but-foto,
.column .media-icon.but-foto
{
  background-image:url('../icons/menu_icon_white_foto.png');
}
#typemenu .but-audio.available:hover,
#typemenu .but-audio.available.selected,
#loopcontainer.grid-view .post-object .item-icons .but-audio,
.column .media-icon.but-audio
{
  background-image:url('../icons/menu_icon_white_audio.png');
}
#typemenu .but-gedicht.available:hover,
#typemenu .but-gedicht.available.selected,
#loopcontainer.grid-view .post-object .item-icons .but-gedicht,
.column .media-icon.but-gedicht
{
  background-image:url('../icons/menu_icon_white_gedicht.png');
}
#typemenu .but-sculptuur.available:hover,
#typemenu .but-sculptuur.available.selected,
#loopcontainer.grid-view .post-object .item-icons .but-sculptuur,
.column .media-icon.but-sculptuur
{
  background-image:url('../icons/menu_icon_white_sculptuur.png');
}
#typemenu .but-video.available:hover,
#typemenu .but-video.available.selected,
#loopcontainer.grid-view .post-object .item-icons .but-video,
.column .media-icon.but-video
{
  background-image:url('../icons/menu_icon_white_video.png');
}
#typemenu .but-schilderij.available:hover,
#typemenu .but-schilderij.available.selected,
#loopcontainer.grid-view .post-object .item-icons .but-schilderij,
.column .media-icon.but-schilderij
{
  background-image:url('../icons/menu_icon_white_schilderij.png');
}
#typemenu .but-verhaal.available:hover,
#typemenu .but-verhaal.available.selected,
#loopcontainer.grid-view .post-object .item-icons .but-verhaal,
.column .media-icon.but-verhaal
{
  background-image:url('../icons/menu_icon_white_geschrift.png');
}
#typemenu .but-pers.available:hover,
#typemenu .but-pers.available.selected,
#loopcontainer.grid-view .post-object .item-icons .but-pers,
.column .media-icon.but-pers
{
  background-image:url('../icons/menu_icon_white_newspaper.png');
}
#typemenu .but-overige.available:hover,
#typemenu .but-overige.available.selected,
#loopcontainer.grid-view .post-object .item-icons .but-overige,
.column .media-icon.but-overige
{
  background-image:url('../icons/menu_icon_white_overig.png');
}


#loopcontainer .post-object .item-icons .but-foto
{
  order: 1;
}
#loopcontainer .post-object .item-icons .but-audio
{
  order: 2;
}
#loopcontainer .post-object .item-icons .but-gedicht
{
  order: 3;
}
#loopcontainer .post-object .item-icons .but-sculptuur
{
  order: 4;
}
#loopcontainer .post-object .item-icons .but-video
{
  order: 5;
}
#loopcontainer .post-object .item-icons .but-schilderij
{
  order: 6;
}
#loopcontainer .post-object .item-icons .but-verhaal
{
  order: 7;
}
#loopcontainer .post-object .item-icons .but-pers
{
  order: 8;
}
#loopcontainer .post-object .item-icons .but-overige
{
  order: 9;
}


/* collections overview typemenu */
#typemenu
{
  width:100%;
  max-width:640px;
  margin:0px auto;
  justify-content: center;
}
#typemenu ul
{
  display:flex;
  list-style:none;
  flex-direction: row;
}
#typemenu ul li
{
  flex:1;
}
#typemenu ul li.notavailable
{
  opacity:0.2;
}

#typemenu ul li.available
{
  cursor:pointer;
}

#display-toggle a,
#typemenu ul li
{
  background-size:cover;
  margin:0;
}
#typemenu .menuinfo
{
  color:#ADB4BE; /* #5E6877;*/
  font-family: "Archery", Arial, Helvetica, sans-serif;
}
#typemenu .menuinfo span
{
}
#typemenu .menuinfo
{
  margin-top:46px;
  font-size:1.2em;
  color:#ADB4BE; /* #5E6877;*/
}
#typemenu .menuinfo
{
  margin-top:21px;
  margin-bottom:-40px;
  font-size:1em;
  min-height:30px;

}




#loopcontainer.grid-view .post-object {

    width: calc(40% - 30px);
    margin:15px;

    -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;

}
.small #loopcontainer.grid-view .post-object,
.medium #loopcontainer.grid-view .post-object {

    width: calc(40% - 12px);
    margin:6px;

}

#loopcontainer.grid-view .post-object.panorama
{
  width: calc(70% - 30px);

}
#loopcontainer.grid-view .post-object.landscape
{
  width: calc(40% - 30px);
}
#loopcontainer.grid-view .post-object.portrait
{
  width: calc(30% - 30px);
}
#loopcontainer.grid-view .post-object.square
{
  width: calc(30% - 30px);
}


.small #loopcontainer.grid-view .post-object.panorama,
.medium #loopcontainer.grid-view .post-object.panorama
{
  width: calc(70% - 12px);
}
.small #loopcontainer.grid-view .post-object.landscape,
.medium #loopcontainer.grid-view .post-object.landscape
{
  width: calc(40% - 12px);
}
.small #loopcontainer.grid-view .post-object.portrait,
.medium #loopcontainer.grid-view .post-object.portrait
{
  width: calc(30% - 12px);
}
.small #loopcontainer.grid-view .post-object.square,
.medium #loopcontainer.grid-view .post-object.square
{
  width: calc(30% - 12px);
}



.large #loopcontainer.grid-view .post-object.panorama
{
  min-width:580px;
}
.large #loopcontainer.grid-view .post-object.landscape
{
  min-width:460px;
}
.large #loopcontainer.grid-view .post-object.portrait
{
  min-width:240px;
}
.large #loopcontainer.grid-view .post-object.square
{
  min-width:240px;
}



#loopcontainer.grid-view .post-object .innerpadding
{
  position:relative;
  padding:0;
}

#loopcontainer.grid-view .post-object img.wp-post-image
{
  display: block;
  width:100%;
  height:auto;
  border:none;
}

#loopcontainer.grid-view .post-object .overlay
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  background: rgba(0, 0, 0, .5);
  opacity: 0;
  text-align:center;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

#loopcontainer.grid-view .post-object:hover .overlay,
#loopcontainer.grid-view .post-object.hovered .overlay {
  opacity: 1;
}






#loopcontainer.list-view .post-object
{
  position: relative;
  width:100%;
}
#loopcontainer.list-view .post-object .innerpadding
{
  position:relative;
  padding:0px;
}
#loopcontainer.list-view .post-object
{
  clear:both;
}
#loopcontainer.list-view .post-object img.wp-post-image
{
  width:auto;
  height:90px;
  float:left;
}
#loopcontainer.list-view .post-object.landscape img.wp-post-image
{
}
#loopcontainer.list-view .post-object .overlay
{
}
#loopcontainer.list-view .post-object .overlay .item-icons
{
}
#loopcontainer.list-view .post-object .overlay .item-excerpt
{
}

#loopcontainer.list-view .item-icons ul
{
}
#loopcontainer.list-view .item-icons ul li
{
}
#loopcontainer.list-view .item-icons ul li:hover,
#loopcontainer.list-view .item-icons ul li.selected
{
}








.mediabox
{
  display:flex;
  justify-content: center;
  min-height:360px;
}

.mediabox .cover
{
  position:relative;
  display:block;
}
.mediabox .cover img
{
  max-width:100%;
  height:auto;
}
.mediabox.display .cover
{
  position:absolute;
  left:15px;
  width:15%;
  height:auto;
}

.object-media .mediacontainer
{
  display:none;
}

.closeoverlay,
.closeinfobox
{
  position:absolute;
  right:0px;
  top:0px;
  height:64px;
  width:64px;
  z-index:999;
  background-color:blue;
}


.mediabox .slider div.mediaholder
{
  position:absolute !important;
  display:none;
}



/* popcontainer */

#overlaycontainer .popcontainer

{
  position:relative;
}

#overlaycontainer .popcontainer .contentbox

{
  position:fixed;
  bottom:0px;
  left:0px;
  width:100%;
}





#overlaycontainer .popcontainer .mediabox
{
  min-height:80vh;
  background-color: #ffffff;
  max-width:960px;
  min-width:320px;
  width:100%;
  margin:0px auto;
}





#overlaycontainer .popcontainer .mediabox .mediacontainer

{
  position:relative;
  width:100%;
  min-height:80vh;

}



#overlaycontainer .popcontainer .contentbox .title
{
  padding: 2vh;
  /* border-top:3px solid #ADB4BE; /* #00A3E8;*/
  background:url('../icons/minus_icon_grey.png') center right no-repeat #ffffff;
}

#overlaycontainer .popcontainer .contentbox .title:hover
{
  background:url('../icons/minus_icon_blue.png') center right no-repeat #ffffff;
}

#overlaycontainer .popcontainer .contentbox .title.closed
{
  background:url('../icons/arrow_icon_up_grey.png') center right no-repeat #ffffff;
}

#overlaycontainer .popcontainer .contentbox .title.closed:hover
{
  background:url('../icons/arrow_icon_up_blue.png') center right no-repeat #ffffff;
}



#overlaycontainer .popcontainer .innerpadding .infotext
{
  display:block;
  width:40%;
  min-height:10vh;
}



#overlaycontainer .popcontainer .contentbox .innerpadding
{
}



#overlaycontainer .popcontainer .contentbox .innerpadding .column
{
  margin:0.33%;
  background-color:#ADB4BE;
  max-height:64px;
}

#overlaycontainer .popcontainer .contentbox .innerpadding .column .media-icon
{
    position: relative;
}

.mediaholder img,
.mediaholder iframe,
.mediaholder video,
.mediabox .cover img,
#loopcontainer.list-view .post-artifact .innerpadding
{
  -webkit-box-shadow: 0px 5px 11px -1px rgba(0,0,0,0.56);
  box-shadow: 0px 5px 11px -1px rgba(0,0,0,0.56);
}

#overlaycontainer .popcontainer .mediabox .mediaholder .caption
{
  padding:15px 0px;
  font-family: "Montserrat-semibold", Arial, Helvetica, sans-serif;
  font-size:0.8em;
}



#overlaycontainer .popcontainer .mediabox .mediaholder .caption a

{

color:#FF004D;

}





#overlaycontainer .popcontainer .mediabox .mediaholder
{
  position:relative;
  width:100% !important;
  text-align:center;
}

#overlaycontainer .popcontainer .mediabox .mediaholder img,
#overlaycontainer .popcontainer .mediabox .mediaholder iframe,
#overlaycontainer .popcontainer .mediabox .mediaholder video
{
  max-width:100%;
}

#overlaycontainer .popcontainer .mediabox .mediaholder iframe
{
}

#overlaycontainer .popcontainer .mediabox .mediaholder img
{
}

#overlaycontainer .popcontainer .mediabox .mediaholder img.landscape
{
}

#overlaycontainer .popcontainer .mediabox .mediaholder img.portrait,

#overlaycontainer .popcontainer .mediabox .mediaholder img.square

{

}

#overlaycontainer .popcontainer .mediabox .mediaholder img,
#overlaycontainer .popcontainer .mediabox .mediaholder iframe,
#overlaycontainer .popcontainer .mediabox .mediaholder video
{
  display:block;
  width: 640px; /*100% !important; */
  min-height:60vh;
  height:100%;
  margin: 0px auto;
}

.prevnextnav
{
}



#overlaycontainer .popcontainer .prevnextnav
{
  position:absolute;
  top:-30px;
  right:120px;
}


#prevmedia,
#nextmedia
{
  display:block;
  position:absolute;
  top:0px;
  width:64px;
  height:64px;
  z-index:99;
  border:none;
  background-color:transparent;
  content: '';
  cursor:pointer;
}


#overlaycontainer .popcontainer .prevnextnav
{
  position:absolute;
  top:-36px;
  right:80px;
}

#prevmedia,
#nextmedia
{
  width:36px;
  height:36px;
  background-size:cover;
  margin:0;
}

#prevmedia span,
#nextmedia span
{
  /*display:none;*/
}

#prevmedia
{
  left:0px;
  background:url('../icons/arrow_icon_left_grey.png');
}

#nextmedia
{
  right:50px;
  background:url('../icons/arrow_icon_right_grey.png');
}
