#typemenu ul.collection-types,
#typemenu ul.object-types,
.item-icons ul
{
  display:flex;
  justify-content: space-between;
  align-items: center;
  flex-direction:row;
  margin:0px;
  padding:0px;
  text-align:center;
}

#typemenu ul.collection-types li,
#typemenu ul.object-types li,
.item-icons ul li
{
  flex:1;
  list-style-type:none;
  margin:0px;
  padding:0px;
}

/* base icon buttons */
.but-foto
{
  background-image:url('../icons/menu_icon_grey_foto.png');
  order: 1;
}
.but-audio
{
  background-image:url('../icons/menu_icon_grey_audio.png');
  order: 2;
}
.but-gedicht
{
  background-image:url('../icons/menu_icon_grey_gedicht.png');
  order: 3;
}
.but-sculptuur
{
  background-image:url('../icons/menu_icon_grey_sculptuur.png');
  order: 4;
}
.but-video
{
  background-image:url('../icons/menu_icon_grey_video.png');
  order: 5;
}
.but-schilderij
{
  background-image:url('../icons/menu_icon_grey_schilderij.png');
  order: 6;
}
.but-verhaal
{
  background-image:url('../icons/menu_icon_grey_geschrift.png');
  order: 7;
}
.but-pers
{
  background-image:url('../icons/menu_icon_grey_newspaper.png');
  order: 8;
}
.but-overige
{
  background-image:url('../icons/menu_icon_grey_overig.png');
  order: 9;
}

.icon-button, .media-icon {
  position: relative;
  width: 48px;
  height: 48px;
  font-family: "Archery", Arial, Helvetica, sans-serif;
  background-position: center;
  background-size:cover;
  cursor:pointer;
  cursor:hand;
}

.icon-button span,
.media-icon span
{
  display:none;
  width:100px !important;
  margin:0px -22px;
  text-align:center;
}

.icon-button:hover span,
.icon-button.selected span,
.media-icon:hover span,
.media-icon.selected span,
.column .media-icon span
{
  position:absolute;
  display:block;
  left:0px;
  bottom:-20px;
  width:100%;
  text-align:center;
  color:#ADB4BE;
  font-size: 16px;
  letter-spacing:0.1em;
}


@media all and (max-width: 700px){
}

@media all and (min-width: 700px and max-width: 1000px){
}

@media all and (min-width: 1000px){
}
