/*
rood roze : #FF004D
grijs standaard : #ADB4BE
licht grijs   :#C8CCD2
Donker grijs   :#5E6877
blauw : #00A3E8;
*/
body
{
  min-height:100%;
}
#loopcontainer,
#objectcontainer .outermargin
{
  width: 99%; /*calc(100% - 20px); */
  max-width: 168rem;
  margin-top:30px;
  /*margin:0px auto;
  margin-left:13px;*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;+
}



footer#site-footer
{
  margin-top: 2rem;
  font-size: 1.4rem;
  padding: 1rem 0;
}

#site-footer,
#loopcontainer .post-object:last-child:after {
	content: '';
	display: block;
	clear: both;
}


#loopcontainer.grid-view .post-object
{
  flex:2;
  /*margin-bottom:12px;*/
}

#loopcontainer.grid-view .post-object img
{
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 0.7s ease-in-out;
	-o-transition: all 0.7s ease-in-out;
	transition: all 0.7s ease-in-out;

  -webkit-box-shadow: 0px 5px 11px -1px rgba(0,0,0,0.56);
  box-shadow: 0px 5px 11px -1px rgba(0,0,0,0.56);
}

#loopcontainer.grid-view .post-object.hover img
{
  cursor:pointer;
  transform: scale(1.5) !important; /* (150% zoom) */
}

#loopcontainer.grid-view .post-object .overlay,
#loopcontainer.nav-view .post-object .overlay
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  margin:10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: rgba(0, 0, 0, .5);
  opacity: 0;
  text-align: center;
  overflow:hidden;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
#loopcontainer.grid-view .post-object:hover .overlay,
#loopcontainer.grid-view .post-object.hovered .overlay {
  opacity: 1;
  z-index:70;
}





#loopcontainer.grid-view .post-object.panorama
{
  width: 100%; /*calc(100% - 5px); */
}
#loopcontainer.grid-view .post-object.landscape
{
  width: 50%; /*calc(50% - 10px); */
}
#loopcontainer.grid-view .post-object.portrait
{
  width: 50%; /*calc(50% - 10px); */
}
#loopcontainer.grid-view .post-object.square
{
  width:50%; /*calc(50% - 10px); */
}

#loopcontainer.grid-view .post-object .innerpadding
{
  margin:10px;
}
#loopcontainer.grid-view .post-object .object-image
{
  display: block;
  width: 100%;
}
#loopcontainer.grid-view .post-object .overlay .item-excerpt
{
  color:#ffffff;
}





#loopcontainer.list-view
{
  padding-top:15px;
  width: 96%;
  max-width: 168rem;
  margin:0px auto;
}
#loopcontainer.list-view .post-object
{
  position: relative;
  display:block;
  width: 100%;
  margin-top:15px;
  clear:both;
}
#loopcontainer.list-view .post-object .innerpadding
{
  position:relative;
  display: flex;
  min-height:160px;
  padding:2vh;
  margin:2px 2px;
  margin:0px auto;
  border:3px solid #C8CCD2;
  background-color:#ffffff;
}
#loopcontainer.list-view .post-object .object-image
{
  position:relative;
  display:flex;
  align-items: center;
  justify-content: center;
  height:14vh;
  width:14vw;
  max-width:200px;
  flex:2;
  text-align: center;
  margin-right:2vh;
  overflow:hidden;
}
#loopcontainer.list-view .post-object img.wp-post-image
{
  height:100%;
  width::auto;
}

#loopcontainer.list-view .post-object.landscape img.wp-post-image,
#loopcontainer.list-view .post-object.panorama img.wp-post-image
{
  width:100%;
  height:auto;
}

#loopcontainer.list-view .post-object .overlay
{
flex:4;
}
#loopcontainer.list-view .post-object .overlay .item-icons
{
}
#loopcontainer.list-view .post-object .overlay h2.entry-title a,
.entry-header a
{
  color: #000000; /* #00A3E8; */
}
#loopcontainer.list-view .post-object .overlay .item-excerpt
{
  color:#000000;
}





#objectcontainer #overlaycontainer
{
  height:inherit;
}

#objectcontainer #overlaycontainer .popcontainer .object-media
{
  display:none;
}

div.mediaholder img,
div.mediaholder embed,
div.mediaholder video,
div.mediaholder object
{
  margin:0px auto;
}
div.object-image img,
div.object-image embed,
div.object-image video,
div.object-image object{
  display: block;
  height: auto;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}





@media all and (max-width: 700px){

  #loopcontainer.isotope.nav-view,
  #loopcontainer.grid-view .post-object .overlay .item-excerpt
   {
     display:none;
   }


}

@media all and (min-width: 700px and max-width: 1000px){



}

@media all and (min-width: 1000px){

  #loopcontainer,
  #objectcontainer .outermargin
  {
    width: 96%;
    max-width: 176rem;
    margin:0px auto;
    padding-top:30px;
    min-height:60vh;
  }



  /* items grid view */
  #loopcontainer.grid-view .post-object
  {
    /*margin:10px;*/
  }
  #loopcontainer.grid-view .post-object.panorama
  {
    width: 50%; /*calc(50% - 20px); */
  }
  #loopcontainer.grid-view .post-object.landscape
  {
    width: 25%; /*calc(25% - 20px); */
  }
  #loopcontainer.grid-view .post-object.portrait
  {
    width: 25%; /*calc(25% - 20px); */
  }
  #loopcontainer.grid-view .post-object.square
  {
    width: 25%; /*calc(25% - 20px); */
  }



  /* items object nav view */
  #loopcontainer.isotope.nav-view
   {
     /*
     position:absolute !important;
     height:calc(100%-300px) !important;
     max-height:70vh;
     width:7vw;
     right:10px;
     bottom:10px;
     overflow-y: scroll;
     background-color: grey;
     z-index:80;
     */
     display:none;
   }


   #loopcontainer.grid-view .post-object .overlay .item-excerpt
   {
     font-size:13px !important; 
   }


   /* items list view */
   #loopcontainer.list-view
   {
     padding-top:30px;
   }

}
