/*
rood roze : #FF004D
grijs standaard : #ADB4BE
licht grijs   :#C8CCD2
Donker grijs   :#5E6877
blauw : #00A3E8;
*/
#loopcontainer,
#objectcontainer
{
  position: relative;
  background-color: red;
}
.isotope.grid-view div.post-object.portrait
{
  max-width:20%;
}
.isotope.grid-view div.post-object.square
{
  max-width:40%;
}
.isotope.grid-view div.post-object.landscape
{
  max-width:80%;
}
.isotope.grid-view div.post-object.panorama
{
  max-width:80%;
}

div.object-image img,
div.object-image embed,
div.object-image video,
div.object-image object {
  display: block;
  height: auto;
  max-width: 100%;
}

.isotope.list-view div.post-object
{
  width:100%;
  max-width:100%;
}
.isotope.list-view div.post-object div.object-image
{
  max-width:180px;
  float:left;
}
