/* popcontainer */
#objectcontainer .outermargin
{
  margin-top:0px;
}

#overlaycontainer .popcontainer
{
  position:relative;
  display:block;
  width:100%;
}



.closeoverlay span,
.closeinfobox span,
.closeintrobox span,
#prevmedia span,
#nextmedia span
{
  display:none;
}

#prevmedia, #nextmedia {
  display: block;
  position: absolute;
  top: 0px;
  width: 36px;
  height: 36px;
  z-index: 80;
  border: none;
  background-color: transparent;
  content: '';
  cursor: pointer;
}
#nextmedia{
  right: -50px;
  background: url('../icons/arrow_icon_right_grey.png');
  background-size: cover;
  background-position:center;
}
#prevmedia {
  left: -50px;
  background: url('../icons/arrow_icon_left_grey.png');
  background-size: cover;
  background-position:center;
}



@media all and (max-width: 1000px){



  #overlaycontainer .closeoverlay {
    color: #ADB4BE;
    /*font-family: "Archery", Arial, Helvetica, sans-serif;*/
    font-size: 0.8em;
    position: absolute;
    right: 1.8rem;
    margin-top: -4px;
    cursor: pointer;
    z-index:80;
  }

  .mediabox.display .cover
  {
  width:96%;
  margin:0px auto;
      font-size:0.7em;
  }
  .mediabox.display .cover h1
  {
      font-size:1em;
      margin: 12px 0px 8px;
  }
  .mediabox.display .cover img
  {
  max-height:80px;
  max-width:80px;
  width:auto;
  height:auto;
  float:left;
  margin:20px;
  }
  #overlaycontainer .popcontainer .mediabox
  {
      position:relative;
      width:96%;
      margin:0px auto;
      overflow:visible;
      background-color:#ffffff;
  }

  .popcontainer .prevnextnav
  {
    position:absolute;
    right:80px;
    top:-4px;
  }

  #nextmedia{
    right: -30px;
  }
  #prevmedia {
    left: -30px;
  }






  #overlaycontainer .popcontainer .mediabox .mediaholder iframe,
  #overlaycontainer .popcontainer .mediabox .mediaholder video
    {
      display:block;
      width: 100%; /*100% !important; */
      min-height:60vh;
      height:100%;
      margin: 0px auto;
    }

  #overlaycontainer .popcontainer .mediabox .mediaholder iframe
  {
      position:relative;
      width: 100%; /*100% !important; */
      min-height:80vh !important;
  }

  #overlaycontainer .popcontainer .mediabox .mediaholder img
  {
      position:relative;
      height:auto;
      width:100%;
      margin: 0px auto;
  }
  #overlaycontainer .popcontainer .mediabox .mediaholder img.landscape
  {
    width:100%;
    max-width:860px;
    height:auto;
    margin: 0px auto;
  }

  #overlaycontainer .popcontainer .mediabox .mediaholder img.portrait,
  #overlaycontainer .popcontainer .mediabox .mediaholder img.square
  {
      width: 80%;
      height:auto;
      margin: 0px auto;
  }




  .mediaholder img,
  .mediaholder iframe,
  .mediaholder video,
  .mediabox .cover img,
  #loopcontainer.list-view .post-artifact .innerpadding
  {
    -webkit-box-shadow: 0px 5px 11px -1px rgba(0,0,0,0.56);
    box-shadow: 0px 5px 11px -1px rgba(0,0,0,0.56);
  }
  #overlaycontainer .popcontainer .mediabox .mediaholder .caption
  {
    padding:15px 0px;
    font-family: "Montserrat-semibold", Arial, Helvetica, sans-serif;
    font-size:0.7em;
  }
  #overlaycontainer .popcontainer .mediabox .mediaholder .caption a
  {
  color:#FF004D;
  }


}

@media all and (min-width: 700px and max-width: 1000px){
}

@media all and (min-width: 1000px){


  #overlaycontainer .closeoverlay {
    color: #ADB4BE;
    /*font-family: "Archery", Arial, Helvetica, sans-serif;*/
    font-size: 0.8em;
    position: absolute;
    right: 1.8rem;
    margin-top: 28px;
    cursor: pointer;
    z-index:80;
  }


  .popcontainer .prevnextnav
  {
    position:absolute;
    right:120px;
  }


  #prevmedia, #nextmedia {
    display: block;
    position: absolute;
    top: 0px;
    width: 64px;
    height: 64px;
    z-index: 99;
    border: none;
    background-color: transparent;
    background-size: cover;
    background-position:center;
    content: '';
    cursor: pointer;
  }



.mediabox .slider div.mediaholder
{
}
.mediaholder .caption
{
  text-align:center;
}
.mediaholder img.landscape
{
  width:900px;
}
.object-media .mediacontainer
{
  display:none;
}
.mediabox.display .cover
{
    flex:1;
    padding-right:30px;
    min-width: 280px;
    max-width:320px;
}
.mediabox.display .cover h1
{
    font-size:1.2em;
    margin: 15px 0px 8px;
}

#overlaycontainer .popcontainer .mediabox .mediaholder
{
    position:relative;
    max-width:88% !important;
    min-height:80vh;
    min-width:460px;
    overflow:visible;
    background-color:#ffffff;
}



#overlaycontainer .popcontainer .mediabox .mediaholder img,
#overlaycontainer .popcontainer .mediabox .mediaholder iframe,
#overlaycontainer .popcontainer .mediabox .mediaholder video
  {
    display:block;
    width: 640px; /*100% !important; */
    min-height:60vh;
    height:100%;
    margin: 0px auto;
  }

#overlaycontainer .popcontainer .mediabox .mediaholder iframe
{
    position:relative;
    width: 640px; /*100% !important; */
    min-height:80vh !important;
}

#overlaycontainer .popcontainer .mediabox .mediaholder img
{
    position:relative;
    min-height:320px;
    height:auto;
    width:100%;
    margin: 0px auto;
}
#overlaycontainer .popcontainer .mediabox .mediaholder img.landscape
{
  width:80%;
  max-width:860px;
  height:auto;
  margin: 0px auto;
}

#overlaycontainer .popcontainer .mediabox .mediaholder img.portrait,
#overlaycontainer .popcontainer .mediabox .mediaholder img.square
{
    width: 460px;
    height:auto;
    margin: 0px auto;
}

.mediaholder img,
.mediaholder iframe,
.mediaholder video,
.mediabox .cover img,
#loopcontainer.list-view .post-artifact .innerpadding
{
  -webkit-box-shadow: 0px 5px 11px -1px rgba(0,0,0,0.56);
  box-shadow: 0px 5px 11px -1px rgba(0,0,0,0.56);
}
#overlaycontainer .popcontainer .mediabox .mediaholder .caption
{
  padding:15px 0px;
  font-family: "Montserrat-semibold", Arial, Helvetica, sans-serif;
  font-size:0.8em;
}
#overlaycontainer .popcontainer .mediabox .mediaholder .caption a
{
color:#FF004D;
}



.mediabox.display
{
  display:inline-flex;
  width:calc(100% - 8rem);
}
.mediabox.display .mediacontainer
{
  flex:3;
  width:70%;
}

}
